{{ define "header" }}{{ partial "amp/head.html" . }}{{ end }}
{{ define "main" }}
<article class="post">
    <header>
        <h1>{{ .Title }}</h1>
        <h2 class="subtitle">{{ .Description | markdownify }}</h2>
        <h2 class="headline">
        {{ .Date.Format "January 2, 2006" }}
        <br>
        {{ with .Params.tags }}
        {{ if ge (len .) 1 }}
            {{ range . }}
            {{ with $.Site.GetPage (printf "tags/%s" ( . | urlize) ) }}
            <a href="{{ .RelPermalink }}">{{ .Name }}</a>
            {{ end }}
            {{ end }}
        {{ end }}
        {{ end}}
        </h2>
    </header>
    <section id="post-body">
        {{ .Content }}
    </section>
</article>

{{ partial "amp/post-footer.html" . }}
{{ partial "latest-posts.html" . }}
{{ end }}

{{ define "bottom" }}{{ partial "amp/google-analytics.html" . }}{{ end }}